<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjut.storage.mapper.BaStoreMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tjut.storage.model.po.BaStore">
        <id column="id" property="id" />
        <result column="create_name" property="createName" />
        <result column="create_by" property="createBy" />
        <result column="create_date" property="createDate" />
        <result column="update_name" property="updateName" />
        <result column="update_by" property="updateBy" />
        <result column="update_date" property="updateDate" />
        <result column="sys_org_code" property="sysOrgCode" />
        <result column="sys_company_code" property="sysCompanyCode" />
        <result column="store_code" property="storeCode" />
        <result column="store_name" property="storeName" />
        <result column="store_text" property="storeText" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_name, create_by, create_date, update_name, update_by, update_date, sys_org_code, sys_company_code, store_code, store_name, store_text
    </sql>
</mapper>