<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjut.auth.mapper.TSDepartMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tjut.auth.model.po.TSDepart">
        <id column="ID" property="id" />
        <result column="departname" property="departname" />
        <result column="description" property="description" />
        <result column="parentdepartid" property="parentdepartid" />
        <result column="org_code" property="orgCode" />
        <result column="org_type" property="orgType" />
        <result column="mobile" property="mobile" />
        <result column="fax" property="fax" />
        <result column="address" property="address" />
        <result column="depart_order" property="departOrder" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, departname, description, parentdepartid, org_code, org_type, mobile, fax, address, depart_order
    </sql>

</mapper>
