<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tjut.receive.mapper.ReceiveGoodsMapper">
    <select id="getReceipt" resultType="com.tjut.receive.model.entity.WmIn">
        select * from wm_in where 1=1
        <if test="imNoticeId != null">
            and id = #{id}
        </if>
        <if test="imData != null">
            and im_data = #{imData}
        </if>
    </select>
    <insert id="createInNoticeReceipt">
    insert into wm_in_notice values (0,#{createName},#{createBy},#{createDate},#{updateName},#{updateBy},#{updateDate},
                                     #{imNoticeId},#{goodsCode},#{goodsCount},#{goodsPrdData},#{goodsBatch},
                                     #{binPre},#{goodsFvol},#{goodsWeight},#{goodsUnit},#{goodsQmCount},#{baseUnit},
                                     #{baseGoodscount},#{baseQmcount},#{goodsName},#{imBeizhu},#{shpGuiGe},#{chpShuXing},
                                     #{areaCode},#{storeCode},#{noticeId})
    </insert>
    <select id="getEmptyStorage" resultType="String">
        select ku_wei_ming_cheng from md_bin
        <where>
            <if test="type != null">
                goods_type = #{type}
            </if>
            <if test="outFrequency !=null">
               and ku_wei_ming_cheng like #{outFrequency}
            </if>
            <if test="net != null">
                and use_weight >= #{net}
            </if>
            <if test="volume != null">
                and use_volume >= #{volume}
            </if>
            limit 1
        </where>
    </select>
</mapper>